<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.reds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ModeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity">
        </activity>

        <!--<activity
            android:name=".ModeActivity">
        </activity>-->

        <activity
            android:name=".BrokerActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <activity
            android:name=".PresentationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <activity
            android:name=".ui.property.DetailProperty">
        </activity>

        <activity
            android:name=".ui.property.SitePlanProperty">
        </activity>

        <activity
            android:name=".ui.chat.ChatActivity">
        </activity>

        <activity
            android:name=".ui.transaction.TransactionProgressActivity">
        </activity>

        <activity
            android:name=".ui.notification.NotificationActivity">
        </activity>

    </application>

</manifest>